* {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: red;
}

h1 {
  display: flex;
  justify-content: center;
}

.header {
  background-color: royalblue;
  margin-top: 0px;
}

.border {
  border-style: solid;
  max-width: 300px;
  margin-bottom: 20px;
}
